/var/
/node_modules/
/lib/
/test/
/custom-elements.json
# top level source
/initial.js
/initial-*.js
/initial-*.js.map
/initial-*.d.ts
/initial-*.d.ts.map
# only generated for size check
/initial-sh.bundled.js
/console.*
/terminal.*
